<mat-card class="margen">
    <div class="estiloTitulo">
        Bienvenido al sistema de control de quejas
    </div>
    <br/>
    <div class="row" style="text-align: center; align-content: center;">
        <div class="col-lg-4 col-md-4 col-sm-4" id="img-contenedor" *ngIf="mostrarPuntosDeAtencion">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;" (click)="puntosAtencion()">
                where_to_vote
            </span><br>
            <label  style="cursor: pointer;" (click)="puntosAtencion()">Puntos de atención</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarUsuariosPuntosDeAtencion">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;" (click)="usuariosPuntosAtencion()">
                group
            </span><br>
            <label  style="cursor: pointer;" (click)="usuariosPuntosAtencion()">Usuarios de puntos de atención</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarCatalogoTiposQuejas">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;" (click)="tiposQuejas()">
                report
            </span><br>
            <label  style="cursor: pointer;" (click)="tiposQuejas()">Tipos de quejas</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarIngresoQueja">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;" (click)="ingresoQueja()">
                history_edu
            </span><br>
            <label  style="cursor: pointer;" (click)="ingresoQueja()">Ingreso Quejas por Mal Servicio o servicio no conforme</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarContactoQuejasDenuncias">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;" (click)="ingresoQuejaContribuyente()">
                person
            </span><br>
            <label  style="cursor: pointer;" (click)="ingresoQuejaContribuyente()">Contacto / Quejas y Denuncias/Ingreso de queja por mal servicio o servicio no conforme</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarQuejasIngresadas">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;">
                list_alt
            </span><br>
            <label  style="cursor: pointer;">Quejas ingresadas</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarQuejasEnProceso">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;">
                find_replace
            </span><br>
            <label  style="cursor: pointer;">Quejas en proceso de atención</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="mostrarSeguimientoQuejas">
            <span class="material-icons" style="cursor: pointer; font-size: 200px;">
                arrow_forward
            </span><br>
            <label  style="cursor: pointer;">Seguimiento quejas asignadas</label>
        </div>
        
    </div>
</mat-card>