<mat-card class="margen">
    <div class="estiloTitulo">
        Catálogo de los puntos de atención
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Columna Region -->
          <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef> Región </th>
            <td mat-cell *matCellDef="let region"> {{region.nombre_region}} </td>
          </ng-container>
      
          <!-- columna Nombre puntos de atencion -->
          <ng-container matColumnDef="nombrePuntoAtencion">
            <th mat-header-cell *matHeaderCellDef> Nombre punto de atención </th>
            <td mat-cell *matCellDef="let nombre"> {{nombre.nombre_punto_atencion}} </td>
          </ng-container>
      
          <!-- Columna estado puntos de atencion -->
          <ng-container matColumnDef="estadoPuntoAtencion">
            <th mat-header-cell *matHeaderCellDef> Estado punto de atención </th>
            <td mat-cell *matCellDef="let estado"> {{estado.estado_punto_atencion}} </td>
          </ng-container>
      
          <!-- Columna accion -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
              <span class="material-icons" style="cursor: pointer;" (click)="ejemplo()">
                edit
              </span>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</mat-card>