
<mat-card class="margen">
  <div class="estiloTitulo">
      Catálogo de Usuarios de los puntos de atención
  </div>
  <br>
    <div class="col">
      <button mat-raised-button class="botones" (click)="agregarunUsuario()">Agregar un Usuario</button>
    </div>
    <br>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- columna Nombre puntos de atencion -->
        <ng-container matColumnDef="nombrePuntoAtencion">
          <th mat-header-cell *matHeaderCellDef> Nombre del punto de atención </th>
          <td mat-cell *matCellDef="let element"> {{element. nombre_punto_atencion}} </td>
        </ng-container>

    <!-- Columna Nombre del usuario -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Nombre Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
    </ng-container>
    
    <!-- Columna correo del usuario -->
     <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
    </ng-container>
    <!-- Columna cargo -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_cargo}} </td>
    </ng-container>
        <!-- Columna estado puntos de atencion -->
        <ng-container matColumnDef="estadoUsuario">
          <th mat-header-cell *matHeaderCellDef> Estado punto de atención </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_estado}} </td>
        </ng-container>
        <!-- Columna accion -->
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let UsuarioPuntoAtencion">
            <span class="material-icons" style="cursor: pointer;" (click)="modificarUsuario(UsuarioPuntoAtencion)">
              edit
            </span>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

    </div>
</mat-card>
 

<!-- Modal para modificar el usuario-->
<div class="modal fade" id="modificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Modificar Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modificarUsuarioGroup">
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12" style="display: none;">
            <mat-label>Codigo Usuario</mat-label>
            <input matInput  value="" formControlName="codigoUsuario" readonly>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12" style="display: none;">
            <mat-label>DPI Usuario</mat-label>
            <input matInput  value="" formControlName="dpiControl" readonly>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12" style="display: none;">
            <mat-label>Codigo Usuario Punto</mat-label>
            <input matInput  value="" formControlName="codigoUsuarioPunto" readonly>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Correo</mat-label>
            <input matInput  value="" formControlName="correoControl">
          </mat-form-field>     
            <mat-form-field  class="col-lg-6 col-md-6 col-sm-12">
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="cargoControll" matNativeControl (ngModelChange)="seleccionarCargoo()">
                <mat-option *ngFor="let cargo of CargoUsuario" [value]="cargo.value" >
                  {{cargo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
         
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Estado Punto Atencion</mat-label>
            <mat-select formControlName="estadoControl">
              <mat-option *ngFor="let estado of estados" [value]="estado.value" >
                {{estado.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarDatos()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCambios(modificarUsuarioGroup.value)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear un Usuario-->
<div class="modal fade" id="crearUsuario" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Crear un Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="crearUsuarioGroup">
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Regiones</mat-label>       
            <mat-select formControlName="regionesControl" matNativeControl (ngModelChange)="seleccionarRegion()">
              <mat-option *ngFor="let region of regiones" [value]="region.value" >
                {{region.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Puntos atención</mat-label>       
            <mat-select formControlName="puntosAtencionControl">
              <mat-option *ngFor="let pa of PuntosAtencionPorRegion" [value]="pa.codigo_punto_atencion" >
                {{pa.nombre_punto_atencion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
              <mat-label>DPI</mat-label>
              <input matInput  value="" formControlName="DPIControl" (blur)="obtenerNombreAndCorreo()" >
            </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Nombre de la Persona Asociada al DPI</mat-label>
            <input matInput  value="" formControlName="NombreControl" readonly>
          </mat-form-field>
          
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correoControl" placeholder="correo@ejemplo.com">
          </mat-form-field>       
      
          <mat-form-field  class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargoControl" matNativeControl (ngModelChange)="seleccionarCargo()">
              <mat-option *ngFor="let cargo of CargoUsuario" [value]="cargo.value" >
                {{cargo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>     
        </form>        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarDatos()">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]='crearUsuarioGroup.invalid' (click)="guardarUsuario(crearUsuarioGroup.value)">Guardar</button>
      </div>
    </div>
  </div>
</div>

