
<mat-card class="margen">
  <div class="estiloTitulo">
      Catálogo de Usuarios de los puntos de atención
  </div>

  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Columna Region -->
        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef> Región </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo_region}} </td>
        </ng-container>
        codigo_punto_atencion
        <!-- columna Nombre puntos de atencion -->
        <ng-container matColumnDef="nombrePuntoAtencion">
          <th mat-header-cell *matHeaderCellDef> Nombre del punto de atención </th>
          <td mat-cell *matCellDef="let element"> {{element. nombre_punto}} </td>
        </ng-container>

    <!-- Columna Nombre del usuario -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>

    <!-- Columna correo del usuario -->
     <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
    </ng-container>
    <!-- Columna cargo -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_cargo}} </td>
    </ng-container>
        <!-- Columna estado puntos de atencion -->
        <ng-container matColumnDef="estadoUsuario">
          <th mat-header-cell *matHeaderCellDef> Estado punto de atención </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo_estado}} </td>
        </ng-container>
        
    
        <!-- Columna accion -->
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let UsuarioPuntoAtencion">
            <span class="material-icons" style="cursor: pointer;" (click)="modificarUsuario(UsuarioPuntoAtencion)">
              edit
            </span>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>
 

<!-- Modal -->
<div class="modal fade" id="modificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Modificar Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modificarUsuarioGroup">
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Correo</mat-label>
            <input matInput  value="" formControlName="correoControl">
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
          <mat-label>Cargo</mat-label>
            <input matInput  value="" formControlName="cargoControl">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-lg-6 col-md-6 col-sm-12">
            <mat-label>Estado Punto Atencion</mat-label>
            <mat-select formControlName="estadoControl">
              <mat-option *ngFor="let estado of estados" [value]="estado.value" >
                {{estado.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>